@page "/game/{gameId:int}"
@using ScrabbleMoveChecker
@using ScrabbleWeb.Shared
@using ScrabbleWeb.Client.Game
@using ScrabbleWeb.Client.Components
@using System.Linq
@inject HttpClientNoAuth Http

@if (game == null)
{
    <p>Loading game</p>
}
else
{
    <GameMessage BootstrapContext="@messageContext" OpponentName="@game.OtherPlayerName">
        @message
    </GameMessage>

    <div class="game">
        <div class="game-element-container">
            <div class="board">
                @for (int y = 0; y < GameBase.BOARD_HEIGHT; y++)
                {
                    <div class="tile-row">
                        @for (int x = 0; x < GameBase.BOARD_WIDTH; x++)
                        {
                            char tile = game[x, y];
                            char userTile = ' ';
                            var multiplier = GameBase.SquareMultiplier(x, y);
                            string multiplierClass = "";
                            string char1 = "";
                            string char2 = "";
                            bool boardSpaceEmpty = false;
                            int boardX = x;
                            int boardY = y;
                            bool thisSelected = (tileBeingMoved is BoardPosition moving && moving.X == x && moving.Y == y);
                            bool anySelected = (tileBeingMoved != null);

                            if (tile == ' ')
                            {
                                userTile = game.Move[x, y];
                            }

                            if (tile == ' ' && userTile == ' ')
                            {
                                boardSpaceEmpty = true;

                                // Multipliers only affect tiles that aren't played on yet
                                switch (multiplier)
                                {
                                    case Multiplier.DoubleLetter:
                                        (multiplierClass, char1, char2) = ("double-letter", "D", "L");
                                        break;
                                    case Multiplier.TrippleLetter:
                                        (multiplierClass, char1, char2) = ("tripple-letter", "T", "L");
                                        break;
                                    case Multiplier.DoubleWord:
                                        (multiplierClass, char1, char2) = ("double-word", "D", "W");
                                        break;
                                    case Multiplier.TrippleWord:
                                        (multiplierClass, char1, char2) = ("tripple-word", "T", "W");
                                        break;
                                }
                            }

                            <div class=@($"tile-space {multiplierClass}{(thisSelected ? " tile-selected": "")}")
                                 @onclick="e => (boardSpaceEmpty ? EndMove(new BoardPosition(game, boardX, boardY)) : userTile != ' ' ? StartMove(new BoardPosition(game, boardX, boardY)) : Task.CompletedTask)">
                                @if (tile != ' ')
                                {
                                    <div class="tile-container">
                                        <div class="tile-content">@tile.ToString().ToUpper()</div>
                                        @*Non-capital means a blank tile, so no score*@
                                        @if (tile >= 'A' && tile <= 'Z')
                                        {
                                            <div class="tile-content-score">@GameBase.LetterScore(tile)</div>
                                        }
                                    </div>
                                }
                                else if (userTile != ' ')
                                {
                                    string containerClass = isValidMove ? "tile-valid" : "tile-invalid";
                                    <div class=@($"tile-container {containerClass}")>
                                        <div class="tile-content">@userTile.ToString().ToUpper()</div>
                                        @*Non-capital means a blank tile, so no score*@
                                        @if (userTile >= 'A' && userTile <= 'Z')
                                        {
                                            <div class="tile-content-score">@GameBase.LetterScore(userTile)</div>
                                        }
                                    </div>
                                }
                                else if (!string.IsNullOrEmpty(multiplierClass))
                                {
                                    <div class="tile-container">
                                        <div class="tile-container-multiplier1">@char1</div>
                                        <div class="tile-container-multiplier2">@char2</div>
                                    </div>
                                }
                                else if (x == (GameBase.BOARD_WIDTH - 1) / 2 && y == (GameBase.BOARD_HEIGHT - 1) / 2)
                                {
                                    <div class="tile-container tile-container-centre">
                                        <div class="tile-content"><span class="oi oi-star" aria-hidden="true"></span></div>
                                    </div>
                                }

                            </div>
                        }
                    </div>
                }
            </div>
        </div>

        <div class="game-element-container">
            <div class="player-tiles">
                <div class="tile-row">
                    @for (int i = 0; i < game.PlayerTiles.Length; i++)
                    {
                        int space = i;
                        char tile = game.PlayerTiles[space];
                        bool userSpaceEmpty = tile == ' ';
                        bool thisSelected = (tileBeingMoved is RackPosition moving && moving.Space == space);
                        bool anySelected = (tileBeingMoved != null);

                        <div class="@($"tile-space{(thisSelected ? " tile-selected" : "")}")" @onclick="e => (userSpaceEmpty ? EndMove(new RackPosition(game, space)) : StartMove(new RackPosition(game, space)))">
                            @if (!userSpaceEmpty)
                            {
                                <div class="tile-container">
                                    @if (tile >= 'A' && tile <= 'Z')
                                    {
                                        <div class="tile-content">@tile.ToString().ToUpper()</div>
                                        <div class="tile-content-score">@GameBase.LetterScore(tile)</div>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="buttons">
            <button @onclick=Play>Play</button>
        </div>
    </div>
}

@code {
    [Parameter] public int GameId { get; set; }
    Game game;
    ITilePosition tileBeingMoved;
    string message;
    string messageContext;
    bool isValidMove;

    protected override async Task OnParametersSetAsync()
    {
        await LoadGame();
    }

    private async Task LoadGame()
    {
        var data = await Http.GetFromJsonAsync<GameDto>($"/api/game/{GameId}");
        game = new Game(data);
    }


    private void UpdateMessage()
    {
        int score = game.Move.GetScore(out string error);
        isValidMove = string.IsNullOrEmpty(error);
        if (isValidMove)
        {
            message = "Score: " + score;
            messageContext = "primary";
        }
        else
        {
            message = error;
            messageContext = "danger";
        }
    }

    private async Task Play()
    {
        var response = await Http.PostAsJsonAsync("/api/game", game.Move.Placements);
        var responseData = await response.Content.ReadFromJsonAsync<MoveResultDto>();
        if (response.StatusCode == System.Net.HttpStatusCode.UnprocessableEntity)
        {
            message = responseData.Error;
            messageContext = "danger";
            return;
        }
        else if (response.StatusCode != System.Net.HttpStatusCode.OK)
        {
            message = "Something went wrong";
            messageContext = "danger";
            return;
        }

        // Success - reload the board (including new tiles)
        game = new Game(responseData.GameDto);
        message = "Move completed";
        messageContext = "success";
    }

    private Task StartMove(ITilePosition position)
    {
        if (tileBeingMoved == null)
        {
            tileBeingMoved = position;
        }
        else
        {
            // Can't start a move if a move is already happening
            // If user clicks on the thing already moving, cancel the move
            if (tileBeingMoved.Equals(position))
            {
                tileBeingMoved = null;

            }
        }

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task EndMove(ITilePosition position)
    {
        if (tileBeingMoved == null)
        {
            // No move is taking place
            return Task.CompletedTask;
        }

        position.AddTile(tileBeingMoved.GetTile());
        tileBeingMoved.RemoveTile();

        tileBeingMoved = null;
        UpdateMessage();
        StateHasChanged();
        return Task.CompletedTask;
    }
}